nav.open {
  left: 0px;
}

nav {
    position: fixed;
	top: 0;
    left: -200px;
    width: 200px;
    padding: 1rem;
    transition: 0.3s all ease;
    z-index: 1000;
    height: 100vh;
    background: #cfd8dc;
}

ul li {
  list-style: none;
}

button.hamburger-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}
